        body {
            background-color: #333333;
            background-size: 100%;
            font-family: Arial, sans-serif;
            text-align: center;
            padding-top: 100px;
            color: rgb(255, 255, 255);
            animation: alternate 2s enter;
        }

        @keyframes enter {
            0% {
                filter: blur(10px);
                opacity: 0%;
                margin: -100%;
            }
            100% {
                filter: blur(0px);
                opacity: 100%;
                margin: 0%;
            }
        }

        @keyframes browsertitle {
            0%   { position: absolute; top: 0%; }
            50%  { position: absolute; top: 7%; }
            100% { position: absolute; top: 0%; }
        }

        h1 {
            animation: infinite 10s browsertitle;
            color: rgb(255, 255, 255);
            position: absolute;
            left: 40%;
        }

        form {
            display: inline-block;
            margin-top: 20px;
        }

        input[type="text"] {
            padding: 10px;
            width: 300px;
            font-size: 16px;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 4px;
            box-shadow: 15px 10px 8px rgba(255, 255, 255, 0.2);
        }

        input[type="submit"] {
            margin-top: 200px;
            padding: 10px 20px;
            font-size: 16px;
            margin-left: 10px;
            border: none;
            background-color: black;
            color: white;
            border-radius: 4px;
            cursor: pointer;
            animation: infinite 10s buscar;
            transition: all 0.3s ease;
            box-shadow: 15px 10px 8px rgba(255, 255, 255, 0.2);
        }

        input[type="submit"]:hover {
            background-color: #ffffff;
            color: black;
            border-radius: 10px;
        }

        h4{
            margin-top: 3%;
            color: rgb(255, 255, 255);
            position: absolute;
            left: 40%;
        }