        body {
            background-color: rgb(255, 255, 255);
            background-size: 100%;
            font-family: Arial, sans-serif;
            text-align: center;
            padding-top: 100px;
            color: rgb(0, 0, 0);
            animation: alternate 2s enter;
            height: 70vh;
            display: grid;
            place-items: center;
            background-repeat: repeat;

        }

        @keyframes enter {
            0% {
                opacity: 0%;
                margin: -100%;
            }
            100% {
                opacity: 100%;
                margin: 0%;
            }
        }

        form {
            display: inline-block;
            margin-top: 20px;
        }

        input[type="text"] {
            padding: 10px;
            width: 300px;
            font-size: 16px;
            border: 1px solid rgb(255, 255, 255);
            border-radius: 20px;
            box-shadow: 0px 0px 8px rgb(0, 0, 0);
            transition: 0.6s;
        }
        input[type="text"]:focus {
            outline: none;
            box-shadow: none;
            transform: scale(1.05);
            border-radius: 5px;
            box-shadow: 0px 0px 8px rgb(0, 0, 0);
        }

        input[type="submit"] {
            padding: 10px 20px;
            font-size: 16px;
            margin-left: 10px;
            border: none;
            background-color: black;
            color: white;
            border-radius: 4px;
            cursor: pointer;
            animation: infinite 10s buscar;
            transition: all 0.3s ease;
            box-shadow: 15px 10px 8px rgba(255, 255, 255, 0.2);
        }

        input[type="submit"]:hover {
            transform: scale(1.1);
        }

        h4{
            margin-top: 3%;
            color: rgb(255, 255, 255);
            position: absolute;
            left: 40%;
        }

        .ads{
            display: flex;
        }