        body {
            background-image: url(./blue-mountain-0mcn2v524b1zmkfp.jpg);
            background-size: 100%;
            font-family: Arial, sans-serif;
            text-align: center;
            padding-top: 100px;
            color: white;
            animation: alternate 2s enter;
        }

        @keyframes enter {
            0% {
                opacity: 0%;
                margin: -100%;
            }
            100% {
                opacity: 100%;
                margin: 0%;
            }
        }

        @keyframes browsertitle {
            0%   { position: absolute; top: 0%; }
            50%  { position: absolute; top: 7%; }
            100% { position: absolute; top: 0%; }
        }

        h1 {
            animation: infinite 10s browsertitle;
            color: white;
            position: absolute;
            left: 40%;
        }

        form {
            display: inline-block;
            margin-top: 20px;
        }

        input[type="text"] {
            padding: 10px;
            width: 300px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        input[type="submit"] {
            padding: 10px 20px;
            font-size: 16px;
            margin-left: 10px;
            border: none;
            background-color: black;
            color: white;
            border-radius: 4px;
            cursor: pointer;
            animation: infinite 10s buscar;
            transition: all 0.3s ease;
        }

        input[type="submit"]:hover {
            background-color: #808080;
            border-radius: 20px;
        }

        h4{
            margin-top: 3%;
            color: white;
            position: absolute;
            left: 40%;
        }

        .f{
            justify-self: center;
            display: flex;
            margin-top: 400px;
            border-radius: 4px;
            background: rgb(58, 58, 58);
            transition: 500ms;
        }

        .f:hover{
            background-color: rgb(182, 182, 182);
            border-radius: 0px;
        }